.DS_Store
__pycache__.DS_Store
__pycache__.DS_Store
__pycache__.DS_Store
__pycache__.DS_Store
__pycache__.DS_Store
__pycache__.DS_Store
__pycache__.DS_Store
__pycache__.DS_Store
__pycache__
config.yaml
cursor.txt
node_modules
build
venv