chain_id: 1
indexer_endpoint: "34.30.218.153:50051"
indexer_api_key: "<INDEXER_API_KEY>"
indexer_name: "<INDEXER_NAME>"
db_connection_uri: "postgresql://<your_connection_uri_to_postgres>"
# If there is no version in the DB, start processor from starting_version_default
# starting_version_default: <starting_version_default>
# Even if there is a version stored in the DB, start processor from starting_version_override
# starting_version_override: 113880

processors:
  <indexer_name>:
    chain_id: 1
    indexer_endpoint: "34.30.218.153:50051"
    project_id: <project_id>
    database: <database_name>
    table_name: <table_name>
    starting_version: <starting_version>