name: Run Integration Tests

on:
  repository_dispatch:
    types: [json-change-detected]  # Custom event type to trigger the workflow
  workflow_dispatch:
    inputs:
      commit_hash:
        description: 'Commit hash to use for the dependency update'
        required: true
        default: 'main'
  push:
    branches:
      - main
  pull_request:

jobs:
  Integration-tests:
    runs-on: ubuntu-latest  # Ensure the correct runner is used

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Install toml-cli using cargo
      - name: Install toml-cli
        run: cargo install toml-cli

      # Show Cargo.toml Before Update
      - name: Show Cargo.toml Before Update
        run: cat rust/Cargo.toml

      # Update aptos-system-utils dependency using toml-cli
      - name: Update aptos-system-utils dependency
        if: ${{ github.event_name == 'repository_dispatch' || github.event_name == 'workflow_dispatch' }}
        run: |
          echo "Updating aptos-system-utils dependency in Cargo.toml to use commit hash ${{ github.event.inputs.commit_hash }}"
          toml set rust/Cargo.toml workspace.dependencies.aptos-system-utils.rev "${{ github.event.inputs.commit_hash }}" > Cargo.tmp && mv Cargo.tmp rust/Cargo.toml

      # Update aptos-indexer-test-transactions dependency using toml-cli
      - name: Update aptos-system-utils dependency
        if: ${{ github.event_name == 'repository_dispatch' || github.event_name == 'workflow_dispatch' }}
        run: |
          echo "Updating aptos-system-utils dependency in Cargo.toml to use commit hash ${{ github.event.inputs.commit_hash }}"
          toml set rust/Cargo.toml workspace.dependencies.aptos-indexer-test-transactions.rev "${{ github.event.inputs.commit_hash }}" > Cargo.tmp && mv Cargo.tmp rust/Cargo.toml

      # Show Cargo.toml after the update
      - name: Show Cargo.toml After Update
        run: cat rust/Cargo.toml  # Correct path to the Cargo.toml file

      - name: Install Dependencies and Run Linter
        uses: ./.github/actions/dep_install_and_lint
        with:
          working-directory: rust

      # Run Integration Tests
      - name: Run Integration Tests
        run: cargo test --manifest-path integration-tests/Cargo.toml
        working-directory: rust
